services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    networks: 
      - event_management_network


  backend:
    build: ./backend
    ports:
      - "8080:8080"
    
    depends_on:
      - mongodb
    networks: 
      - event_management_network

  mongodb:
    image: mongo:latest
    ports: 
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks: 
      - event_management_network

networks:
  event_management_network:
    driver: bridge

volumes:
  mongo_data:
    driver: local